html {
    color: #777777 !important;
}

.title-slide h1 {
    color: #A1021C !important;
}

.title-slide h2 {
    color: black !important;
    border-bottom:none;
}

.title-slide {
    background-color: #FFFFFF;
}

h2 {
    color: #A1021C !important;
    border-bottom: solid 1px #CCC;
    margin-bottom: 30px;
}

ul {
    width: 80%;
    margin:auto;
}

a {
    color: #A1021C;
    border-bottom:none;
}

